<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.title }} : {{ page.description }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
          <a id="forkme_banner" href="{{ page.project-url }}">{{ page.res-watch-on-github }}</a>

          <h1 id="project_title">{{ page.title }}</h1>
          <h2 id="project_tagline">{{ page.description }}</h2>

          <section id="downloads">
              <a class="zip_download_link" href="{{ page.project-url }}/zipball/master" title="{{ page.res-download-archive }} .zip">{{ page.res-download-archive }} .zip</a>
              <a class="tar_download_link" href="{{ page.project-url }}/tarball/master" title="{{ page.res-download-archive }} tar.gz">{{ page.res-download-archive }} tar.gz</a>
          </section>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
            {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p class="copyright">{{ page.project-name }} maintained by {{ page.author }}</p>
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-31907551-2");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter18211534 = new Ya.Metrika({id:18211534,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/18211534" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </body>
</html>
